<!DOCTYPE html>
<html lang="en">
  <head>
    {% extends 'template.html' %}
    {% block head %}
    {{ super() }}
    {% endblock %}
  </head>
  <body>

    {% block content %}

    {% for movie in fav_list %}

    <div class="col-sm-6">
      <div class="card">
        <div class="card-body">
          <p class="card-text">{{ movie }}</p>
        </div>
      </div>
    </div>
    <div class="col-sm-6">
      <a href="{{ url_for('movie_info', title=movie) }}" class="btn btn-primary">Info</a>
      <a href="{{ url_for('remove_movie', title=movie) }}" class="btn btn-danger">Remove</a>
    </div>

    {% endfor %}
    {% endblock %}

  </body>
</html>
