<!DOCTYPE html>
<html lang="en">
  <head>
    {% extends 'template.html' %}
    {% block head %}
    {{ super() }}
    {% endblock %}
  </head>

  <body>

    {% block content %}


    {% for movie in movies.Search %}

    <div class="col-sm mb-3">
      <div class="card" style="width: 18rem;">
        <img src="{{ movie.Poster}}" class="card-img-top" alt="movie poster">
        <div class="card-body">
          <h5 class="card-title">{{ movie.Title | title }}</h5>
          <p class="card-text">{{ movie.Year }}</p>
          <a href="{{ url_for('movie_info', title=movie.Title) }}" class="btn btn-primary">Info</a>
        </div>
      </div>

    </div>
    {% endfor %}


    {% endblock %}

  </body>
</html>
