<!DOCTYPE html>
<html lang="en">
  <head>
    {% extends 'template.html' %}
    {% block head %}
    {{ super() }}
    {% endblock %}
  </head>
  <body>
    {% block content %}

    <!--movie poster (image file)-->
    <div class="col-sm-3 mb-3">
      <img src="{{ movie.Poster}}" class="img-fluid rounded" alt="movie poster">
    </div>

    <!-- movie details-->
    <div class="col-sm mb-3">
      <div class="card">
        <div class="card-body">
          <h3 class="card-title">{{ movie.Title | title }}</h3>
          <p class="card-text">{{ movie.Year }} {{ movie.Rated }} </p>

          {% for item in movie.Genre.split(",") %}
          <button class="btn btn-outline-dark disabled">{{ item }}</button>
          {% endfor %}

          <p>{{ movie.Plot }}</p>
          <p class="card-text">{{ movie.Director }}</p>
          <p class="card-text">{{ movie.Actors }}</p>
          <p class="card-text">{{ movie.imdbRating }}</p>

          <!--Add a movie to Favorites-->
          <a class="btn btn-primary" href="{{ url_for('add_to_fav', title=movie.Title)}}">Add to Favorites</a>
        </div>
      </div>
    </div>

    {% endblock %}
  </body>
</html>
