<!doctype html>
<html lang="en">
  <head>
    {% extends "template.html" %}
    {% block head %}
    {{ super() }}
    {% endblock %}
  </head>
  <body>
    {% block content %}

    <!-- movie poster-->
    <div class="col-sm-4">
      <img class="img-fluid" src="{{ movie.Poster | safe }}" alt="movie poster" style="margin-left: 3%">
    </div>

    <!-- movie details-->
    <div class="col-sm-8">
      <div class="card-body">
        <h5 class="card-title">{{ movie.Title | title | safe }}</h5>
        <p class="card-text">{{ movie.Year }}</p>
        {% for item in movie.Genre.split(",") %}
        <p class="card-text btn btn-outline-dark disabled">{{ item | title | safe }}</p>
        {% endfor %}
        <p>{{ movie.Plot }}</p>
        <p class="card-text"><strong>Director</strong> {{ movie.Director }}</p>
        <p class="card-text"><strong>Stars</strong> {{ movie.Actors }}</p>
        <p class="card-text"><strong>IMDB</strong> {{ movie.imdbRating }}/10</p>
        <!-- <a href="#" class="btn btn-secondary">Add to Favorites</a> -->
      </div>
    </div>

    {% endblock %}

  </body>
</html>
