<!DOCTYPE html>
<html lang="en">
  <head>
    {% extends 'template.html' %}
    {% block head %}
    {{ super() }}
    {% endblock %}
  </head>
  <body>
    {% block content %}

    <form class="col-sm" action="{{ url_for('search_title')}}" method="POST">
      <div class="col-sm-12 mb-3">
        <label for="valditationTitle" class="form-label">Title</label>
        <input type="text" class="form-control" name="title" id="valditationTitle" placeholder="Enter a movie title"
          required>
      </div>
      <div class="col-sm-12 mb-3">
        <label for="valditationYear" class="form-label">Year</label>
        <input type="number" class="form-control" name="year" id="valditationYear" placeholder="Movie release date">
      </div>
      <button type="submit" class="btn btn-primary">Search</button>
    </form>
    {% endblock %}

    {% block form %}


    {% if movie %}

    <!--movie poster (image file)-->
    {% if movie.Poster %}
    <div class="col-sm-4 mb-3">
      <img src="{{ movie.Poster }}" class="img-fluid rounded" alt="movie poster">
    </div>
    {% endif %}


    <!-- movie details-->
    <div class="col-sm-4 mb-3">

      <div class="card">
        <div class="card-body">
          <h3 class="card-title">{{ movie.Title | title }}</h3>
          <p class="card-text">{{ movie.Year }} {{ movie.Rated }} </p>

          {% if movie.Genre %}
          {% for item in movie.Genre.split(",") %}
          <button class="btn btn-outline-dark disabled">{{ item }}</button>
          {% endfor %}
          {% endif %}

          <p>{{ movie.Plot }}</p>
          <p class="card-text">{{ movie.Director }}</p>
          <p class="card-text">{{ movie.Actors }}</p>
          <p class="card-text">{{ movie.imdbRating }}</p>
        </div>
      </div>

    </div>

    {% else %}
    <div></div>
    {% endif %}

    {% endblock %}




  </body>
</html>
